:root {
    --background-2: rgb(9 9 11);
    --background-3: rgb(15 23 42);
    --contrast: #fff;
    --size: 5rem;
  }
  
  .icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .board {
    gap: calc(var(--size) * 0.05);
  }
  
  .key {
    position: relative;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) / 2);
    border: 0.1rem solid var(--background-3);
    border-radius: calc(var(--size) * 0.2);
    background: var(--background-2);
    color: var(--contrast);
    box-shadow: 
      0.15rem 0.15rem 0 0 var(--background-3),
      0.3rem 0.3rem 0 0 var(--background-3),
      0.45rem 0.45rem 0 0 var(--background-3),
      0.6rem 0.6rem 0 0 var(--background-3);
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .key:hover {
    cursor: pointer;
    transform: translateX(0.3rem) translateY(0.3rem);
    box-shadow: 
      0.15rem 0.15rem 0 0 var(--background-3),
      0.3rem 0.3rem 0 0 var(--background-3),
      0.45rem 0.45rem 0 0 var(--background-3),
      0.5rem 0.5rem 0 0 var(--background-3);
  }
  
  .key:active {
    cursor: grabbing;
    transform: translateX(0.8rem) translateY(0.8rem);
    box-shadow: 
      0.1rem 0.1rem 0 0 var(--background-3),
      0.1rem 0.1rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3);
    filter: blur(0.02rem);
  }

  .key.spaceBar {
    width: 20dvw;
  }
  
  @media (max-width: 640px) {
    :root {
      --size: 3rem;
    }
    
    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }